div{
    background-color: rgb(242, 242, 242);
    height: 1056px;
    width: 768px;
    text-align: center;
    margin:0px 96px 0px 96px;
    box-shadow: 5px 5px 20px;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 30px 0px 0px 0px;
}

.One{
    margin: 10px 10px 10px 10px;
}
.Two{
    margin: 10px 10px 10px 10px;
}
.Three{
    margin: 10px 10px 10px 10px;
}
.Four{
    margin: 10px 10px 10px 10px;
}
.Five{
    margin: 10px 10px 10px 10px;
}
.Six{
    margin: 10px 10px 10px 10px;
}
.Seven{
    margin: 10px 10px 10px 10px;
}
.Eight{
    margin: 10px 10px 10px 10px;
}
.Nine{
    margin: 10px 10px 10px 10px;
}
.Ten{
    margin: 10px 10px 10px 10px;
}
.Eleven{
    margin: 10px 10px 10px 10px;
}
.Twelve{
    margin: 10px 10px 10px 10px;
}
.Thirteen{
    margin: 10px 10px 10px 10px;
}
.Fourteen{
    margin: 10px 10px 10px 10px;
}
.Fifteen{
    margin: 10px 10px 10px 10px;
}
.Sixteen{
    margin: 10px 10px 10px 10px;
}
.Seventeen{
    margin: 10px 10px 10px 10px;
}
h3{
    text-align: center;
}
p{
    color: gray;
    text-align: left;
    margin: 0px 48px 0px 48px;
}